
/* For responsiveness */
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .header {
        flex-direction: column-reverse;
    }
    .main {
        flex-direction: column;
    }
}

* {
    font-family: 'Saira', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-image: url(images/SpaceBackground.png);
    background-size: cover;
    margin: 0;
    color: aliceblue;
    max-width: 100%;
    height: auto;
}


/* container for header text and moon image */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100vh;
}

.moon {
    align-self: flex-start;
}

h1 {
    font-size: 80px;
}

/* container for rocket image and main text */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;
}

.imagebox {
    padding: 20px;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

h2 {
    font-size: 70px;
    margin-bottom: 0;
}

h3 {
    font-size: 50px;

}
 
p {
    font-size: 30px;
}

.readytext h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 100px;
}

/* footer content */
ul {
    list-style: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    gap: 20px;
    size: 50px;
}
