@media screen and (max-width: 800px)

.main {
    float: left;
    width: 60%;
}

body {
    background-image: url(images/SpaceBackground.png);
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 10vw;
    max-height: 300px;
    padding: 0;
}

ul {
    list-style: none;
}
 
.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;

}